*{
    margin: 0;
    padding: 0;
}

h1{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.fone{
    height: 40px;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 5px;
    font-size: large;
    padding: 10px;
   
}
.ftwo{
    height: 40px;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 5px;
    font-size: large;
    padding: 10px;
}
form{
    text-align: center;
    margin: 10px;
    
}
.list{
    list-style: none;
    text-align: center;
    margin-left: 300px;
    
    
    
}
.first_a{
    color: cadetblue;
    text-decoration: none;

}

.first_span{
    justify-content: center;
    background-color: darkslateblue;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    color: white;
    margin: 10px;
    font-size: larger;
    
    
    
}
.first_span2{
    margin: 10px;
    background-color: darkslateblue;
    height: 40px;
    width: 320px;
    border-radius: 5px;
    color: white;
    font-size: larger;
    
}
.link{
    margin-top: 20px;
    list-style: none;
    color: black;
   text-decoration: none;
}
.finish{
    display: flex;
    height: 3px;
    width: 5px;
    margin: 10px;
    text-align: center;
} 
.or{
    margin: 10px;
    /* border: 2px solid gold; */
}
.wrap{
    /* border: 2px solid red; */
    height: 40px;
    width: 700px;
    display: flex;
    text-align: center
    ;justify-content: center;
    margin-top: 10px;
    

}
.wrap1{
    margin: 0px;
    /* border: 2px solid blue; */
    width: 200px;
    text-align: center;
    display: flex;
    margin: 5px;
    margin-left: 80px;
    
    
    
}
.wrap2{

    /* border: 2px solid black; */
    width: 60px;
    margin-right: 10px;
}
.dot{
     height: 20px;
     width: 50px;
     padding: 10px;
     margin-top: 5px;
     margin-right: 20px;
}
.main_div{
    border: 2px solid cornflowerblue;
    height: 550px;
    width: 700px;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
    text-align: center;
    margin-top: 29px;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 2px;
   

    
}